ws_lunch/Taking_A_Rest/client/Restaurants.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="restaurants" type="restaurants"/>
    <xs:complexType name="menuItems">
        <xs:sequence>
            <xs:element type="menuItem" name="menuItem" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="restaurant">
        <xs:sequence>
            <xs:element type="menuItems" name="menuItems"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="restaurants">
        <xs:sequence>
            <xs:element type="restaurant" name="restaurant" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="menuItem">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>